
@keyframes roate {
  to {
    transform: rotateZ(360deg);
  }
}
.lg-button {
  line-height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF; 
  background-color: #F82F5C;
}
.lg-button.round {
  border-radius: 22px;
}
.lg-button__loading { 
  animation: roate 1s linear infinite;
  margin-right: 8px;
}
