.lg-alert {
  user-select: none;
}

.lg-alert__wrapper {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.lg-alert__content {
  width: 300px;
  height: 185px;
  background: #ffffff;
  border-radius: 8px;
  text-align: center;
  overflow: hidden;
}

.lg-alert__box {
  height: ~'calc(100% - 56px)';
  display: flex;
  flex-direction: column;
  color: #111111;
}

.lg-alert__icon {
  padding-top: 16px;
  flex-shrink: 0;
  img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
  }
}

.lg-alert__title {
  padding: 16px 28px 8px;
  flex-shrink: 0;
  font-size: 14px;
  letter-spacing: 1px;
  &.__hasIcon {
    padding: 0 28px;
    flex: 1;
  }
}
.lg-alert__message {
  padding: 8px 25px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 1px;
  white-space: pre-wrap;
  word-break: break-all;

  // text-overflow: ellipsis;
  // display: -webkit-box;
  // -webkit-box-orient: vertical;
  // -webkit-line-clamp: 2;
  // overflow: hidden;

  &.__left {
    text-align: left;
  }
  &.__right {
    text-align: right;
  }
  &.__center {
    text-align: center;
  }
}

.lg-alert__button_wrapper {
  border-top: 1px solid #eeeeee;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
}

.lg-alert__button {
  flex: 1;
  height: 100%;
  font-weight: bold;
  line-height: 55px;
  cursor: pointer;
}
.lg-alert__button_sure {
  color: #58669b;
}
.lg-alert__button_canel {
  color: #111111;
}
.lg-alert__line {
  width: 1px;
  height: 100%;
  margin: 0 12px;
  background-color: #eeeeee;
}
